<a href="https://colab.research.google.com/github/SaadOsama/20SW120/blob/main/20sw120Lab5Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd


distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]
planets = ['Earth', 'Saturn', 'Mars', 'Venus', 'Jupiter']


dist_planets = pd.Series(distance_from_sun, index=planets)


time_light = dist_planets / speed_of_light


close_planets = time_light[time_light < 40]

print("Distance from Sun:")
print(dist_planets)
print("\nTime for sunlight to reach planets (minutes):")
print(time_light)
print("\nClose planets (sunlight takes less than 40 minutes):")
print(close_planets)

Distance from Sun:
Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64

Time for sunlight to reach planets (minutes):
Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64

Close planets (sunlight takes less than 40 minutes):
Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

In [8]:

import pandas as pd
import numpy as np

# Set the display precision of dataframes to one decimal place
pd.set_option('display.precision', 1)

# Create Pandas Series for books, authors, and user ratings
books = pd.Series(data=['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland'])
authors = pd.Series(data=['Charles Dickens', 'John Steinbeck', 'William Shakespeare', 'H. G. Wells', 'Lewis Carroll'])
user_1 = pd.Series(data=[3.2, np.nan, 2.5])
user_2 = pd.Series(data=[5., 1.3, 4.0, 3.8])
user_3 = pd.Series(data=[2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data=[4, 3.5, 4, 5, 4.2])

# Create a dictionary with the data
data = {
    'Author': authors,
    'Book Title': books,
    'User 1': user_1,
    'User 2': user_2,
    'User 3': user_3,
    'User 4': user_4
}

# Use the dictionary to create a Pandas DataFrame
book_ratings = pd.DataFrame(data)

# Replace NaN values with the average rating in each column
average_ratings = book_ratings.mean()
book_ratings.fillna(average_ratings, inplace=True)

# Display the final DataFrame
print("Final DataFrame:")
print(book_ratings)

# Pick books that had a rating of 5
best_rated = book_ratings[(book_ratings == 5).any(axis=1)]['Book Title']

# Display books with a rating of 5
print("\nBooks with a rating of 5:")
print(best_rated)

Final DataFrame:
                Author           Book Title  User 1  User 2  User 3  User 4
0      Charles Dickens   Great Expectations     3.2     5.0     2.0     4.0
1       John Steinbeck      Of Mice and Men     2.9     1.3     2.3     3.5
2  William Shakespeare     Romeo and Juliet     2.5     4.0     2.8     4.0
3          H. G. Wells     The Time Machine     2.9     3.8     4.0     5.0
4        Lewis Carroll  Alice in Wonderland     2.9     3.5     2.8     4.2

Books with a rating of 5:
0    Great Expectations
3      The Time Machine
Name: Book Title, dtype: object

<ipython-input-8-ca2784f1bab5>:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  average_ratings = book_ratings.mean()